runpod
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
chatterbox-tts
fastapi
uvicorn
librosa
pydub
watchdog
python-multipart
tqdm
safetensors
soundfile
hf_transfer
openai-whisper
Resemblyzer @ git+https://github.com/resemble-ai/Resemblyzer.git
